#container {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1920px;
}

#section-about {
  padding-left: 3rem !important;
}

#section-about,
#section-services,
#section-works,
#section-skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 1rem 5rem 1rem;
}

.about-container {
  width: 60%;
}
.about-container p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 70%;
  line-height: 1.5rem;
  font-size: 1rem;
}

.about-box-presentation {
  align-items: center;
  display: flex;
  column-gap: 10px;
  flex-direction: row;
}
.about-box-presentation .about-presentation-arrow {
  width: 1.5rem;
  background-color: var(--text-color-pri);
  height: 0.2rem;
}

.about-box-presentation .about-presentation-text {
  color: var(--color-sec);
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

.about-box-title {
  display: flex;
  column-gap: 10px;
  flex-direction: row;
  padding-bottom: 1.5rem;
}
.about-text__my-name {
  font-size: 2.5rem;
}
.about-box-title .about-text__my-name:nth-child(2) {
  color: var(--color-pri);
}

.icons-container {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  padding-top: 1rem;
}

.icon-link .bx {
  color: var(--text-color-pri);
  transition: color 0.25s;
}

.icon-link:hover .bx {
  color: var(--text-color-sec);
}

.section-img {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.section-img span {
  background-color: var(--text-color-pri);
  border-radius: var(--default-border-radius);
  display: inline-block;
  width: 320px;
  height: 452px;
}

.section-img span:nth-child(1) {
  background-image: url('../../assets/my_profile_pic.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
}

.section-img span:nth-child(2) {
  background-color: var(--color-pri);
  position: absolute;
  transform: rotate(-15deg);
}

/*SECTION SERVICES*/

#section-services {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#section-projects {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-services,
.container-projects {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  padding: 6rem 1rem;
}

/*@media 1200*/

@media (max-width: 1200px) {
  .about-container p {
    width: 100%;
  }

  .section-img {
    width: 40%;
  }

  .section-img span {
    width: 220px;
    height: 380px;
  }
}

@media (max-width: 768px) {
  .container-projects {
    padding: 6rem 2rem;
  }

  #section-about {
    flex-direction: column;
    gap: 3rem;
  }

  #section-skills {
    padding: 2rem 1rem;
  }

  .about-container {
    width: 100%;
  }

  .section-img {
    width: 100%;
  }

  .section-img span {
    width: 280px;
    height: 380px;
  }
}

@media (max-width: 600px) {
  .section-img {
    width: 90%;
  }

  .section-img span {
    width: 230px;
    height: 380px;
  }
}

@media (max-width: 351px) {
  .section-img span:nth-child(1) {
    width: 183px;
    height: 265px;
  }

  .section-img span:nth-child(2) {
    width: 164px;
    height: 287px;
  }

  .about-text__my-name {
    font-size: 1.5rem;
  }

  .about-presentation-text {
    font-size: 0.7rem;
  }

  .about-container p {
    font-size: 0.8rem;
  }
}
